.shares {
  max-width: var(--box-max-width);
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.listItem {
  max-width: calc(25% - 10px);
  flex-basis: calc(25% - 10px);
  margin: 5px;
  display: flex;
}
.pagination {
  padding-top: 2em;
}

.more {
  .btn {
    padding: 1em;
    width: 100%;
    cursor: pointer;
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    border: none;
    transition: opacity .256s ease-in-out;
    &:hover {
      opacity: .5;
    }
  }
}
