.card {
  padding: 1em;
  background-color: white;
  border-radius: 10px;
  flex: 1;
  min-height: 100px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
  }
}

.title {
  max-width: 70%;
  font-size: .85em;
  margin-bottom: .5em;
}

.desc {
  max-width: 70%;
  font-size: .75rem;
}
.brand {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 0.6em;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
