.box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.btn {
  max-width: 120px;
  margin: 0 auto;
}

.date {
  margin-bottom: 0;
}
.price {
  margin-bottom: 15px;
}
